@tailwind base;
@tailwind components;
@tailwind utilities;

.tabulator .tabulator-header,
.tabulator .tabulator-row,
.tabulator .tabulator-cell {
  border: none !important;
}

.tabulator {
  max-width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}

.tabulator-row {
  word-break: break-word; /* Prevent text overflow */
}

.tabulator-row:hover {
  color: #ffffff;

  /* Change hover background */
}

.tabulator-cell {
  color: #333; /* Change cell text color */
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  height: 40px;
}

.tabulator-cell:hover {
  /* background-color: #ffeb3b; */
  /* Highlight cell on hover */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrolling */
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #adadad; /* Thumb color */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid #f3f3f3; /* Optional border for better visibility */
}
